/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

html {
  background-color: #ecf9ff;
  scroll-behavior: smooth;
}

body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  height: 100%;
}

/* Navbar */
header {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu-icon {
  display: none;
}

.header-logo {
  font-size: 30px;
  font-weight: 600;
  color: #040056;
}

.navbar-link {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  gap: 50px;
  transition: all 0.3s ease
}

.navbar-link li {
  list-style: none;
}

.navbar-link a {
  color: #000;
  display: inline-block;
  text-decoration: none;
}

.navbar-link a::after {
  content: '';
  display: block;
  transform: translate(-30px, 0px);
  width: 0;
  margin-top: 5px;
  border-radius: 10px;
  height: 6px;
  background: #090979;
  transition: ease-in .3s;
}

.navbar-link a:hover::after {
  width: 100%;
  transform: translate(-30px, 0px)
}

/* End of navbar */

nav .main {
  max-width: 1200px;
  margin: 0 auto;
}

/* Main content */

main {
  padding: 20px 80px;
}

section {
  padding-top: 30px;
  min-height: 100vh;
}

.hero {
  text-align: center;
  padding-top: 100px;
}

.hero-main-text {
  font-size: 50px;
  font-weight: 800;
}

.hero-main-image {
  object-fit: contain;
  width: 600px;
  height: 300px;
}

.hero-secondary {
  margin-top: 40px;
}

.hero-secondary-button {
  display: inline-block;
  padding: 20px;
  border: none;
  background-color: #090979;
  border-radius: 30px;
  color: #fff;
}

/* End of main content */

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
  max-width: 500px;
  vertical-align: middle;
  object-fit: cover;
  text-align: center;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow: hidden;
  position: relative;
  top: 0px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  background-color: white;
}


.card:hover::before {
  transform: scale(2.15);
}

.card_content {
  padding: 1rem;
  background: #090979;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card_content a {
  margin-top: auto;
  align-self: flex-end;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  flex-grow: 1;
}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Footer */
.footer {
  background-color: #9797e0;
  color: rgb(255, 255, 255);
  height: 5%;
  width: 100%;
}

.footer-logo {
  float: left;
}

.logo-progate {
  width: 20px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
}

.logo-discord {
  width: 30px;
  height: 30px;
  float: right;
  filter: invert(100%);
  margin-top: 10px;
  margin-right: 10px;
}

.footer-copy {
  text-align: center;
  margin-top: 10px;
}

/* Footer */

/* Media Queries */
@media screen and (max-width: 600px) {
  body.freeze {
    overflow: hidden;
  }

  main {
    padding: 10px 20px;
  }

  header {
    padding: 5px;
  }

  .header-logo {
    font-size: 20px;
  }

  .hero {
    padding-top: 50px;
  }

  .navbar-link {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    padding: 0;
    background-color: #ecf9ff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-120%);
  }

  .navbar-link.is-show {
    transform: translateY(0%)
  }

  .navbar-menu-icon {
    display: inline-block;
    cursor: pointer;
  }

  .navbar-menu-icon.is-open {
    z-index: 100001;
  }

  .navbar-menu .hero {
    padding-top: 10px;
  }

  .hero-main-text {
    font-size: 30px;
    font-weight: 800;
  }

  .hero-main-image {
    object-fit: contain;
    width: 250px;
    height: 300px;
  }

  .cards_item {
    width: 100%;
  }
}

.navbar {
  position: fixed;
  right: 50px;
  top: 20px;
  z-index: 1030;
}

.navbar-menu-icon {
  position: fixed;
  right: 30px;
  top: 20px;
  z-index: 1030;
}

.header-logo {
  position: fixed;
  left: 50px;
  top: 20px;
  z-index: 1030;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1030;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #090979;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.fa-angles-down {
  padding-left: 10px;
}